@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";
@import "tailwindcss-primeui";

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #040406;
  overflow-x: hidden;
}
